.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.rslides_tabs {
  list-style: none;
  padding: 10px 0;
  text-align: center;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 125px;
  z-index: 2;
  margin-bottom: 0px;
}

.rslides_tabs li {
  display: inline;
  float: none;
  margin-left: 5px;
  margin-right: 5px;
}

.rslides_tabs a {
  font-size: 8px;
  width: auto;
  line-height: 10px;
  padding: 0px 5px;
  height: auto;
  background: transparent;
  display: inline;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  background: rgba(255,255,255,.4);
}

.rslides_tabs a:hover {
  border: 0;
  background: rgba(255,255,255,.8);
}

.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.8);
  color: #fff;
  font-weight: bold;
}

.heroUnit {
  position: relative;
  width: 100%;
  height: 100%;
}

/*.heroUnit img {
  width: 100%;
}*/

.heroUnit h1,
.heroUnit h2 {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 0px;
  text-align: center;
  font-weight: 700;
}

.heroUnit h1 {
  font-size: 48px;
  color: #fff;
  z-index: 2;
  width: 46%;
  left: 27%;
}

.heroUnit h2 {
  font-family: "Amatic SC";
  color: #005c2b;
  margin-top: -24px;
  font-size: 36px;
  z-index: 4;
  display: none;
}

.heroUnit h2.active {
  display: block;
}

.stripeOverlay {
  background: -webkit-repeating-linear-gradient(135deg, #FFFFFF, #FFFFFF 5px, #000000 5px, #000000 10px);
  background: repeating-linear-gradient(135deg, #FFFFFF, #FFFFFF 5px, #000000 5px, #000000 10px);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  opacity: 0.05;
}

.homeLoader {
  z-index: 3;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #fff;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s;
}

.homeLoader.active {
  opacity: 1;
}
