@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
  background: #f5f5f5;
  color: #333;
  font-family: "Montserrat";
}

body > .ng-scope {
  margin-top: 100px;
}

body > div > .container {
  background: #fff;
  border-bottom: 20px solid #005c2b;
}

.container {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}

.navbar {
  background: #fff;
  min-height: 100px;
  -webkit-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.4);
  box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.4);
}

.navbar > .container {
  height: 100%;
  padding: 0px;
}

.navbar-header {
  height: 100px;
}

.navbar-brand {
  font-family: "Oswald";
  width: 450px;
}

.navbar-brand span {
  color: #005c2b;
}

.navbar-brand .title {
  font-weight: 700;
  font-size: 32px;
  position: relative;
  top: 12px;
  left: -1px;
}

.navbar-brand .subtitle {
  text-align: justify;
  font-size: 16px;
  padding-bottom: 5px;
  position: relative;
  top: 7px;
}

.navbar-brand .logo {
  height: 66px;
  float: left;
  position: relative;
  margin-right: 15px;
}

#navbar {
  min-height: 100px;
}

.navbar-nav {
  position: relative;
  top: 43px;
}

.navbar a {
  color: #5c4b41;
  font-weight: 700;
}

.signIn {
  border: 1px solid #5c4b41;
  top: 52px;
  border-radius: 20px;
  float: right;
  position: relative;
  background: #f6911d;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  color: #fff !important;
  cursor: pointer;
  opacity: 0.7;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s;
}

.signIn:hover {
  text-decoration: none;
  opacity: 1;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.rslides_tabs {
  list-style: none;
  padding: 10px 0;
  text-align: center;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 125px;
  z-index: 2;
  margin-bottom: 0px;
}

.rslides_tabs li {
  display: inline;
  float: none;
  margin-left: 5px;
  margin-right: 5px;
}

.rslides_tabs a {
  font-size: 8px;
  width: auto;
  line-height: 10px;
  padding: 0px 5px;
  height: auto;
  background: transparent;
  display: inline;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  background: rgba(255,255,255,.4);
}

.rslides_tabs a:hover {
  border: 0;
  background: rgba(255,255,255,.8);
}

.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.8);
  color: #fff;
  font-weight: bold;
}

.heroUnit {
  position: relative;
  width: 100%;
  height: 100%;
}

/*.heroUnit img {
  width: 100%;
}*/

.heroText {
  width: 100%;
  position: absolute;
  top: 22.5%;
  background: rgba(0,0,0,0.4);
  padding: 15px;
}

.heroText h1,
.heroText h2 {
  position: relative;
  width: 100%;
  left: 0px;
  text-align: center;
  font-weight: 700;
}

.heroText h1 {
  font-size: 48px;
  color: #fff;
  z-index: 2;
  width: 46%;
  left: 27%;
  margin-top: 0px;
  margin-bottom: 15px;
  text-shadow: 0px 1px 2px #000;
}

.heroText h2 {
  font-family: "Amatic SC";
  color: #005c2b;
  font-size: 36px;
  z-index: 4;
  display: none;
}

.heroText h2.active {
  display: block;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s;
}

.heroText h2.in {
  color: #fff;
  text-shadow: 0px 1px 2px #000;
}

.heroText p {
  width: 45%;
  left: 27.5%;
  position: relative;
  color: #fff;
  line-height: 28px;
  text-align: center;
  text-shadow: 0px 1px 2px #000;
}

.stripeOverlay {
  background: -webkit-repeating-linear-gradient(135deg, #FFFFFF, #FFFFFF 5px, #000000 5px, #000000 10px);
  background: repeating-linear-gradient(135deg, #FFFFFF, #FFFFFF 5px, #000000 5px, #000000 10px);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  opacity: 0.1;
}

.homeLoader {
  z-index: 3;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #fff;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s;
}

.homeLoader.active {
  opacity: 1;
}

.sectionHeader {
  font-family: "Montserrat";
  font-size: 24px;
  color: #005c2b;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.heroContainer {
  padding: 0px;
  position: relative;
  max-height: 750px;
  overflow: hidden;
}

.downArrow {
  position: absolute;
  width: 100%;
  height: 25px;
  bottom: 0px;
  z-index: 2;
}

.downArrow img {
  height: 25px;
  margin: 0 auto;
  display: block;
}

.programsContainer {

}

.programPreview {
  position: relative;
  margin-bottom: 25px;
}

.programPreviewHeader {
  font-family: "Montserrat";
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  height: 50px;
}

.programPreviewHeader h3 {
  margin: 0px;
  line-height: 50px;
}

.programPreviewContent {
  position: relative;
}

.programPreviewOverlay {
  background: #000;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s;
}

.programPreview img {
  width: 100%;
  pointer-events: none;
}

.programPreviewContent p {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 50px;
  padding-top: 25px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s;
}

.programPreviewContent a {
  position: absolute;
  bottom: 25px;
  left: 25%;
  padding: 10px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  width: 50%;
  opacity: 0;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #fff;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s;
}

.programPreviewContent:hover .programPreviewOverlay {
  opacity: 0.5;
}

.programPreviewContent:hover p {
    opacity: 1;
}

.programPreviewContent:hover a {
  opacity: 0.8;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s;
  text-decoration: none;
}

.programPreviewContent a:hover {
  opacity: 1;
  text-decoration: none;
}

.programPreview0 .programPreviewHeader {
  background: #004976;
}

.programPreview0 a {
  background: #004976;
}

.programPreview1 .programPreviewHeader {
  background: #003f22;
}

.programPreview1 a {
  background: #003f22;
}

.aboutContainer {
  border-bottom: 0px !important;
}

.aboutContainer img {
  width: 35%;
  float: right;
  margin-left: 50px;
  position: relative;
  opacity: 0;
  right: -25px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s;
}

.aboutContainer img.active {
  opacity: 1;
  right: 0px;
}

.aboutContainer p {
  position: relative;
  opacity: 0;
  left: -25px;
  line-height: 28px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s;
}

.aboutContainer p.active {
  opacity: 1;
  left: 0px;
}

.footerContainer {
  background: #5c4b41 !important;
  padding-top: 30px;
  border-bottom: 0px !important;
  line-height: 21px;
}

.footerContainer .col-md-3 {
  position: relative;
  opacity: 0;
  bottom: -25px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s;
}

.footerContainer .col-md-3.active {
  opacity: 1;
  bottom: 0px;
}

.footerContainer h5 {
  color: #f08d00;
  padding-bottom: 10px;
}

.footerContainer span {
  color: #fff;
  display: block;
  font-size: 12px;
}

.credits {

}

.information {

}

.information a {
  color: #fff;
  display: block;
  font-size: 12px;
}

.follow {

}

.follow a {
  width: 20%;
  display: block;
  float: left;
  min-height: 40px;
}

.follow a img {
  width: 100%;
  max-width: 40px;
}

.indexLoader {
  position: fixed;
  z-index: 1031;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #005c2b;
  color: #fff;
  opacity: 1;
}

.indexLoader.ready {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s;
}

.indexLoader.active {
  opacity: 0;
  pointer-events: none;
}

.indexLoader h1 {
  font-family: "Amatic SC";
  text-align: center;
  position: relative;
  top: 45%;
}

.programHeader {
  padding-top: 25px;
  background: #005c2b !important;
  color: #fff;
}

.programHeaderText {
  width: 100%;
  padding-right: 330px;
  line-height: 28px;
}

.programHeaderText p {
  margin-bottom: 0px;
}

.inquireSubmitBox {
  position: absolute;
  right: 15px;
  bottom: 0px;
  width: 270px;
}

.inquireSubmitButton {
  background: #f6911d;
  display: block;
  padding: 5px;
  font-weight: 700;
  border: 1px solid #5c4b41;
  color: #fff !important;
  text-align: center;
  opacity: 0.85;
  outline: 0px !important;
  text-decoration: none !important;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s;
}

.inquireSubmitButton:hover {
  text-decoration: none;
  opacity: 1;
  color: #fff;
}

#inquireModal .modal-dialog {
  width: 1000px;
  margin-top: 150px;
}

#inquireModal .modal-content {
  background: #005c2b;
  color: #fff;
}

#inquireModal .modal-header {
  padding: 25px;
}

#inquireModal .modal-body {
  padding: 25px;
}

#inquireModal select {
  width: 100%;
  background: #f6911d;
  color: #fff;
  padding: 5px;
  margin-bottom: 20px;
  border: 0px;
  outline: none;
}

.inquireCheck {
  width: 31px;
  height: 31px;
  margin-top: 24px;
}

.inquireCheck input {
  display: none;
}

.inquireCheck input:checked + .box {
  background-color: #f6911d;
}

.inquireCheck input:checked + .box:after {
  top: 0;
}

.inquireCheck .box {
  width: 100%;
  height: 100%;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  border: 2px solid transparent;
  background-color: white;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 5px rgba(0, 0, 0, 0.2);
}

.inquireCheck .box:after {
  width: 80%;
  height: 40%;
  content: '';
  position: absolute;
  border-left: 4px solid;
  border-bottom: 4px solid;
  border-color: #fff;
  transform: rotate(-45deg) translate3d(0, 0, 0);
  transform-origin: center center;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  left: -1px;
  right: 0;
  top: 200%;
  bottom: 4px;
  margin: auto;
}

.interestedText {
  font-size: 11px;
  opacity: 0.85;
  position: relative;
  top: -10px;
  left: 10px;
}

#inquireModal .messageField {
  margin-top: 14px;
}

#inquireModal .messageField textarea {
  width: 100%;
  background: #f6911d;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  border: 0px;
  outline: none;
}

#inquireModal h5 {
  margin-top: 0px;
}

#inquireModal p {
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 0px;
  opacity: 0.85;
}

#inquireModal label {
  font-weight: 400;
}

#inquireModal button {
  font-weight: 700;
  border: 0px;
}

#inquireModal .close span {
  font-size: 60px;
  position: absolute;
  top: 5px;
  right: 15px;
}

#inquireModal .btn-primary {
  background: #f6911d;
  color: #fff;
}

.mapContainer {
  padding: 0px;
  border-bottom: 0px !important;
}

.mapContainer > .row {
  margin: 0px;
}

.mapContainer > .row > .col-md-12 {
  padding: 0px;
}

.mapContainer .leaflet-container {
  height: 700px;
}

.mapContainer .leaflet-control-zoom {
  margin-bottom: 50px;
  margin-left: 50px;
}

.mapFilters {
  position: absolute;
  top: 0px;
  width: 100%;
  background: rgba(0, 92, 43, 0.85);
  padding: 10px;
  padding-left: 50px;
  z-index: 1001;
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
  margin-top: 5px;
	width: 100%;
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #fff;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #fff;
	font-weight: 400;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.input--manami {
    overflow: hidden;
}

.input__field--manami {
	width: 100%;
	background: transparent;
	padding: 0.5em;
	margin-bottom: 15px;
	color: #f9f7f6;
	z-index: 100;
	opacity: 0;
}

/*textarea.input__field--manami {
  height: 100%;
}*/

.input__label--manami {
	width: 100%;
	position: absolute;
	text-align: left;
	padding: 0.5em 0;
	pointer-events: none;
	font-size: 1em;
}

.input__label--manami::before,
.input__label--manami::after {
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
}

.input__label--manami::before {
	height: 100%;
	background: #f6911d;
	top: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}

.input__label--manami::after {
	height: 2px;
	background: #f6911d;
	top: 100%;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.input__label-content--manami {
	padding: 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.2s, color 0.2s;
	transition: transform 0.2s, color 0.2s;
}

.input__field--manami:focus,
.input--filled .input__field--manami {
	opacity: 1;
	-webkit-transition: opacity 0s 0.2s;
	transition: opacity 0s 0.2s;
}

.input__label--manami::before,
.input__label--manami::after,
.input__label-content--manami,
.input__field--manami:focus,
.input--filled .input__field--manami {
	-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.input__field--manami:focus + .input__label--manami::before,
.input--filled .input__label--manami::before {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--manami:focus + .input__label--manami::after,
.input--filled .input__label--manami::after {
	opacity: 0;
}

.input__field--manami:focus + .input__label--manami .input__label-content--manami,
.input--filled .input__label--manami .input__label-content--manami {
	color: #fff;
	-webkit-transform: translate3d(0, 2.1em, 0) scale3d(0.65, 0.65, 1);
	transform: translate3d(0, 2.1em, 0) scale3d(0.65, 0.65, 1);
}

.rzslider {
  position: relative;
  top: 2px;
}

.rz-bar {
  background: #fff;
}

.rz-selection {
  background: #f6911d !important;
}

.rz-bubble {
  color: #fff !important;
  font-size: 14px;
  padding: 0px !important;
  bottom: 20px !important;
}

.rz-ceil {
  padding-left: 10px;
}

.rz-pointer {
  background: #f6911d !important;
}

.rz-pointer-min {

}

.rz-pointer-max {

}

.rz-pointer:after {

}

.rz-pointer.rz-active:after {
  background: #fff !important;
}

.selectedSiteContainer {
  background: #005c2b !important;
  padding-top: 25px;
  padding-bottom: 50px !important;
  border-bottom: 20px solid #fff !important;
}

.selectedSiteName {
  color: #fff;
  padding-bottom: 15px;
}

.selectedSiteRecords {
  background: #005c2b;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.selectedSiteRecords .row {
  border-bottom: 1px solid rgba(255,255,255,0.15);
  line-height: 40px;
  cursor: pointer;
  color: #fff;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s;
}

.selectedSiteRecords .row:hover {
  background: #005c2b;
  color: #f6911d;
}

.selectedSiteRecords a:last-of-type > .row {
  border-bottom: 0px;
}

.selectedSiteRecords .row > div:last-of-type {
  text-align: right;
}

.aboutProgramContainer h2 {
  color: #005c2b;
  padding-bottom: 10px;
}

.aboutProgramContainer p {
  line-height: 28px;
}

.aboutProgramImage {
  width: 100%;
  padding-bottom: 50px;
}
