<div class="container programHeader">
  <div class="row">
    <div class="col-md-12">
      <div class="programHeaderText">
        <h2>River Bird Atlas</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum pharetra dui ac vulputate. Donec non leo a ante pharetra rutrum. Fusce mattis venenatis diam laoreet fermentum. Sed eu tellus ante. Sed laoreet, felis vel tristique tristique, justo dui dictum magna, id congue tellus lacus a dui. Suspendisse dapibus, odio at gravida luctus, erat orci faucibus ligula, facilisis malesuada odio nulla eget elit. Nulla facilisi. Aenean quis volutpat mauris, at interdum lorem. In justo nunc, convallis ac nisi vitae, mollis faucibus massa. Maecenas ac maximus nisl.</p>
      </div>
      <div class="inquireSubmitBox">
        <p>Have questions or want to participate?</p>
        <span ng-click="inquire()" class="inquireSubmitButton">INQUIRE</a>
      </div>
    </div>
  </div>
</div>
<div class="container mapContainer">
  <div class="row">
    <div class="col-md-12">
      <div class="mapFilters">
        <div class="row">
          <div class="col-md-4">
            <span class="input input--manami">
    					<input class="input__field input__field--manami" type="text" id="input-32">
    					<label class="input__label input__label--manami" for="input-32">
    						<span class="input__label-content input__label-content--manami">Site Name, River or Location</span>
    					</label>
    				</span>
          </div>
          <div class="col-md-4">
            <span class="input input--manami">
    					<input class="input__field input__field--manami" type="text" id="input-32">
    					<label class="input__label input__label--manami" for="input-32">
    						<span class="input__label-content input__label-content--manami">Species</span>
    					</label>
    				</span>
          </div>
          <div class="col-md-4">
            <rzslider
              rz-slider-model="slider.min"
              rz-slider-high="slider.max"
              rz-slider-options="slider.options">
            </rzslider>
          </div>
        </div>
      </div>
      <leaflet id="map" lf-center="center" defaults="defaults"></leaflet>
    </div>
  </div>
</div>
<div class="container selectedSiteContainer">
  <div class="row">
    <div class="col-md-12">
      <div class="selectedSiteName">
        <h2>Selected site name</h2>
      </div>
      <div class="selectedSiteRecords">
        <a href="#viewSiteRecord">
          <div class="row">
            <div class="col-lg-2">10/24/2016</div>
            <div class="col-lg-2">Active: 5</div>
            <div class="col-lg-2">Inactive: 3</div>
            <div class="col-lg-2">Incubation State: 2</div>
            <div class="col-lg-2">With Young Visible: 4</div>
            <div class="col-lg-2">Pending Approval</div>
          </div>
        </a>
        <a href="#viewSiteRecord">
          <div class="row">
            <div class="col-lg-2">10/24/2016</div>
            <div class="col-lg-2">Active: 5</div>
            <div class="col-lg-2">Inactive: 3</div>
            <div class="col-lg-2">Incubation State: 2</div>
            <div class="col-lg-2">With Young Visible: 4</div>
            <div class="col-lg-2">Pending Approval</div>
          </div>
        </a>
        <a href="#viewSiteRecord">
          <div class="row">
            <div class="col-lg-2">10/24/2016</div>
            <div class="col-lg-2">Active: 5</div>
            <div class="col-lg-2">Inactive: 3</div>
            <div class="col-lg-2">Incubation State: 2</div>
            <div class="col-lg-2">With Young Visible: 4</div>
            <div class="col-lg-2">Pending Approval</div>
          </div>
        </a>
        <a href="#viewSiteRecord">
          <div class="row">
            <div class="col-lg-2">10/24/2016</div>
            <div class="col-lg-2">Active: 5</div>
            <div class="col-lg-2">Inactive: 3</div>
            <div class="col-lg-2">Incubation State: 2</div>
            <div class="col-lg-2">With Young Visible: 4</div>
            <div class="col-lg-2">Pending Approval</div>
          </div>
        </a>
        <a href="#viewSiteRecord">
          <div class="row">
            <div class="col-lg-2">10/24/2016</div>
            <div class="col-lg-2">Active: 5</div>
            <div class="col-lg-2">Inactive: 3</div>
            <div class="col-lg-2">Incubation State: 2</div>
            <div class="col-lg-2">With Young Visible: 4</div>
            <div class="col-lg-2">Pending Approval</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container aboutProgramContainer">
  <div class="row">
    <div class="col-md-12">
      <h2>About The Program</h2>
      <div class="row">
        <div class="col-md-8">
          <p>The Maine River Bird Project is dedicated to expanding awareness and improving species and habitat conservation within Maine’s rivers.  River birds include waterfowl, wading and shorebirds, some passerines, raptors such as Osprey and Bald Eagle, and rare, threatened, endangered, and species of special concern within each group.  The mission is to improve understanding of rivers, river birds, and ecosystem change through collaborative research and citizen science.  The efforts were initiated in 2008, as part of a University of Maine doctoral program and continued in 2013 under the Maine Department of Inland Fisheries and Wildlife.  Thus far, the project has documented how dams alter the transfer of nutrients from sea-run fishes to river birds, and how bird abundance relates to river features.</p>
          <p>Through collaborative research efforts, feather and prey samples were collected and analyzed along the Penobscot River and results suggested that prior to its removal, the lowermost dam on the Penobscot (Veazie) acted as a barrier to the delivery of nutrients from sea-run fishes to Bald Eagle and Belted Kingfisher nestlings upriver.  We expect these nutrients will be detected in future sampling of nestlings upriver as sea-run fish populations rebound following the removal of the Veazie and Great Works dams.</p>
          <p>Citizen scientists across 10 Maine rivers are collecting valuable river bird observations.  Linkages between river birds and river features such as water flow, presence of dams, and landscape composition not only inform our current understanding but also serve as a baseline to monitor ecosystem change associated with river restoration and return of sea-run fishes(Maine hosts 12 species which require access between ocean and rivers to live and reproduce).  These data inform our understanding of species-habitat relations and with ongoing monitoring, will shed light on ecosystem changes associated with riparian lands and river restoration.</p>
        </div>
        <div class="col-md-4">
          <img class="aboutProgramImage" src="img/aboutProgramImage3.jpg" />
          <img class="aboutProgramImage" src="img/aboutProgramImage4.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>
<div id="inquireModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Please submit your inquiry:</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <label>Subject:</label>
            <select>
              <option>General Inquiry</option>
              <option>Heron Observation Network</option>
              <option>River Bird Atlas</option>
            </select>
          </div>
          <div class="col-md-4 col-md-offset-4">
            <label class="inquireCheck">
              <input type="checkbox" />
              <div class="box"></div>
            </label>
            <span class="interestedText">Interested in participating as a citizen scientist</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span class="input input--manami">
    					<input class="input__field input__field--manami" type="text" id="name">
    					<label class="input__label input__label--manami" for="name">
    						<span class="input__label-content input__label-content--manami">Name</span>
    					</label>
    				</span>
          </div>
          <div class="col-md-4">
            <span class="input input--manami">
    					<input class="input__field input__field--manami" type="text" id="contactPhone">
    					<label class="input__label input__label--manami" for="contactPhone">
    						<span class="input__label-content input__label-content--manami">Contact Phone</span>
    					</label>
    				</span>
          </div>
          <div class="col-md-4">
            <span class="input input--manami">
    					<input class="input__field input__field--manami" type="text" id="email">
    					<label class="input__label input__label--manami" for="email">
    						<span class="input__label-content input__label-content--manami">Email</span>
    					</label>
    				</span>
          </div>
        </div>
        <div class="row messageField">
          <div class="col-md-12">
              <label>Message</label>
              <textarea></textarea>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5>Program Vetting Criteria:</h5>
            <p>Each year there are several colonies in the state that have not yet been adopted, so we are always looking for more volunteers. All HERON volunteers are expected to: 1) visit the assigned colony at least once between 15 May and 30 June, 2) have a pair of binoculars and/or a spotting scope for viewing the colony, and 3) follow the instructions contained within the HERON Volunteer Packet. If you are interested in adopting a colony, or want to find out more, please send you inquiry. </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit Inquiry</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
