<div class="container heroContainer">
  <div class="row">
    <div class="col-md-12">
      <div class="heroUnit">
        <!-- <img src="img/hero.jpg" /> -->
        <ul class="rslides">
          <li><img src="img/hero1.jpg" alt=""></li>
          <li><img src="img/hero2.jpg" alt=""></li>
          <li><img src="img/hero3.jpg" alt=""></li>
        </ul>
        <div class="heroText">
          <h2>WELCOME TO MAINE'S</h2>
          <h1>CITIZEN SCIENCE PORTAL</h1>
          <p>In ultricies risus nisl, ut iaculis augue tempor at. Aliquam commodo nunc vitae nunc hendrerit dignissim. Suspendisse porta mi eget auctor sagittis. Curabitur consectetur pretium ornare. Etiam auctor sodales ex, sed maximus dui euismod sit amet. Maecenas mauris ante, fermentum vitae dui id, finibus finibus odio. Nullam nec dolor urna. Suspendisse facilisis felis vel luctus feugiat.</p>
        </div>
        <div class="stripeOverlay"></div>
        <div class="homeLoader active"></div>
      </div>
    </div>
  </div>
  <div class="downArrow">
    <img src="img/downArrow.png" />
  </div>
</div>
<div class="container programsContainer" id="programs">
  <div class="row">
    <div class="col-md-12">
      <h1 class="sectionHeader">Citizen Science Programs</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="programPreview programPreview0">
        <div class="programPreviewHeader">
          <h3>Heron Observation Network</h3>
        </div>
        <div class="programPreviewContent">
          <div class="programPreviewOverlay"></div>
          <img src="img/heron.jpg" />
          <p>The Heron Observation Network of Maine is a citizen science adopt-a-colony program in which volunteers monitor great blue heron colonies throughout the state and record information regarding the number of active nests each spring. The data provided by volunteers help MDIFW biologists better understand the status of great blue herons, a Species of Special Concern in Maine due to a decline in nesting pairs along the coast.</p>
          <a ui-sref="heronObservationNetwork">View The Program</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="programPreview programPreview1">
        <div class="programPreviewHeader">
          <h3>River Bird Atlas</h3>
        </div>
        <div class="programPreviewContent">
          <div class="programPreviewOverlay"></div>
          <img src="img/riverBird.jpg" />
          <p>The Maine River Bird Project is dedicated to expanding awareness and improving species and habitat conservation within Maine’s rivers.  The mission is to improve understanding of rivers, river birds, and ecosystem change through citizen science and collaborative research.  River birds include waterfowl, wading and shorebirds, some passerines, and raptors such as Osprey and Bald Eagle.</p>
          <a ui-sref="riverBirdAtlas">View The Program</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container aboutContainer" id="about">
  <div class="row">
    <div class="col-md-12">
      <h1 class="sectionHeader">About The Portal</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img src="img/about.jpg" />
      <p>Maine Department of Inland Fisheries and Wildlife tracks where many of Maine’s priority wildlife species occur. Keeping our databases current is challenging, especially for species that are uncommon, cryptic, or that live in remote areas. So we rely on the Maine public’s passion for wildlife to help. Our Citizen Science Program recruits interested Mainers who are skilled at identifying particular species to participate in some of our wildlife monitoring programs. On this website you will find descriptions of those programs and the information that our Citizen Scientists are collecting. If you think you might be interested in participating, there are links to contact our program biologists. You also can submit general questions about these programs.</p>
      <p>Previously Citizen Scientists had to submit their data on paper. Besides showcasing our various monitoring programs, this new website allows online data submissions, which enables us to get new information into our wildlife databases and to share it with all Mainers faster. We hope this will help generate more interest in wildlife, the Department, and our Citizen Science programs.</p>
    </div>
  </div>
</div>
